nav{
    padding-top: 50px;
    padding-bottom: 20px;
}
.navbar{
    width: 100%;
    height: 80px;
    border-top: 1px solid rgb(213, 213, 213);
    border-bottom: 1px solid rgb(213, 213, 213);
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.nav_logo{
    padding-left: 10px;
}
.nav_logo , .nav_btn{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.nav_menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.nav_menu ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition: .4s;
    text-wrap: nowrap;
}
.nav_menu ul li:hover a{
    color: #c3002f;
}

.nav_btn button{
    border-radius: 20px;
    background: #c3002f;
    outline: none;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .4s;
    text-wrap: nowrap;
}
.nav_btn button:hover{
    background: #000;
}

.navburger{
    display: none;
}

@media screen and (max-width: 1000px){
    .navbar{
        justify-content: space-between;
        align-items: center;
    }
    .navburger{
        display: flex;

    }
    .nav_menu{
        display: none;
    }
    .nav_menu.open{
        display: flex;
    }
    .nav_logo{
        padding-left: 20px;
        justify-content: flex-start;
    }
    .nav_logo , .nav_btn{
        width: 45%;
    }
    .nav_logo img{
        width: 60%;
    }
    .nav_btn{
        justify-content: flex-end;
        padding-right: 20px;
    }
    .nav_menu{
        position: absolute;
        width: 100%;
        top: 80px;
        background:#FEF8F0 ;
        height: 50vh;
        transition: .4s;
    }
    .nav_menu ul{
        flex-direction: column;
    }
}